h2 {
    color: #C89B3C;
    margin-bottom: 20px;
    text-align: start;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #0A1428;
    border: 1px solid #1E3A8A;
    border-radius: 8px;
    color: #E5E7EB;
    flex: 1;
}
input.ng-invalid.ng-touched {
    border: 1px solid #C89B3C;
    box-shadow: 0 0 8px rgba(200, 155, 60, 0.6);
}
input::placeholder {
    color: #9CA3AF;
}
button {
    width:100%;
    padding: 12px;
    background-color: #C89B3C;
    border: none;
    border-radius: 8px;
    color: #0A1428;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #E0B84C;
}
.btn{
    display: flex;
    gap:10px;
}
.row {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.alert {
    color: #d64545;
    font-size: 0.85rem;
    margin-top: 6px;
    min-height: 18px;
}


.alert.placeholder {
    visibility: hidden;
}
.animate-line {
    opacity: 0;
    transform: translateX(80px);
    animation: slideIn 0.6s ease-out forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
form .animate-line:nth-child(1) {
    animation-delay: 0.05s;
}

form .animate-line:nth-child(2) {
    animation-delay: 0.1s;
}

form .animate-line:nth-child(3) {
    animation-delay: 0.15s;
}

form .animate-line:nth-child(4) {
    animation-delay: 0.2s;
}

form .animate-line:nth-child(5) {
    animation-delay: 0.25s;
}

form .animate-line:nth-child(6) {
    animation-delay: 0.3s;
}

form .animate-line:nth-child(7) {
    animation-delay: 0.35s;
}

form .animate-line:nth-child(8) {
    animation-delay: 0.4s;
}

form .animate-line:nth-child(9) {
    animation-delay: 0.45s;
}

form .animate-line:nth-child(10) {
    animation-delay: 0.5s;
}

form .animate-line:nth-child(11) {
    animation-delay: 0.55s;
}

.success-message {
    text-align: center;
    padding: 40px;
    background: linear-gradient(180deg, #243565, #0a1428);
    border-radius: 16px;
    color: #e5e7eb;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    width : 80%;
    position: relative;
    left:12%;
}

.success-message h2 {
    text-align: center;
    color: #c89b3c;
    margin-bottom: 10px;
}
.success-message {
    animation: fadeIn 0.5s ease-in-out;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}