h2 {
    color: #C89B3C;
    margin-bottom: 20px;
    text-align: start;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 5px;
    background-color: #0A1428;
    border: 1px solid #1E3A8A;
    border-radius: 8px;
    color: #E5E7EB;
    flex: 1;
}
input.ng-invalid.ng-touched {
    border: 1px solid #C89B3C;
    box-shadow: 0 0 8px rgba(200, 155, 60, 0.6);
}
input::placeholder {
    color: #9CA3AF;
}
button {
    width: 79.8%;
    padding: 12px;
    background-color: #C89B3C;
    border: none;
    border-radius: 8px;
    color: #0A1428;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    left: 6.7%;
}
button:hover {
    background-color: #E0B84C;
}
.input-row0{
    position: relative;
    left:2%;
    width: 90%;
}
.row1{
    position: relative;
    left: 8%;
}
.input-row1 {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 2px;
    position: relative;
    left: 8.5%;
    width: 88%;
}
.row2 {
    position: relative;
    left: 9%;
}
.input-row2 {
    display: flex;
    gap: 10px;
    margin-bottom: 2px;
    position: relative;
    left: 10%;
    width: 86.7%;

}
.row3 {
    position: relative;
    left: 11%;
}
.input-row3 {
    display: flex;
    gap: 10px;
    margin-bottom: 2px;
    position: relative;
    left: 12%;
    width: 84.8%;
}
.row4 {
    position: relative;
    left: 13%;
}
.input-row4 {
    display: flex;
    gap: 10px;
    margin-bottom: 2px;
    position: relative;
    left: 14%;
    width: 82.7%;
}
.row5 {
    position: relative;
    left: 15%;
}
.input-row5 {
    display: flex;
    gap: 10px;
    margin-bottom: 2px;
    position: relative;
    left: 16%;
    width: 80.8%;
}
.field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.alert {
    color: #d64545;
    font-size: 0.85rem;
    margin-top: 6px;
    min-height: 18px;
}


.alert.placeholder {
    visibility: hidden;
}
.animate-line {
    opacity: 0;
    transform: translateX(80px);
    animation: slideIn 0.6s ease-out forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
form .animate-line:nth-child(1) {
    animation-delay: 0.1s;
}

form .animate-line:nth-child(2) {
    animation-delay: 0.2s;
}

form .animate-line:nth-child(3) {
    animation-delay: 0.3s;
}

form .animate-line:nth-child(4) {
    animation-delay: 0.4s;
}

form .animate-line:nth-child(5) {
    animation-delay: 0.5s;
}

form .animate-line:nth-child(6) {
    animation-delay: 0.6s;
}

form .animate-line:nth-child(7) {
    animation-delay: 0.7s;
}

form .animate-line:nth-child(8) {
    animation-delay: 0.8s;
}

form .animate-line:nth-child(9) {
    animation-delay: 0.9s;
}

form .animate-line:nth-child(10) {
    animation-delay: 1s;
}

form .animate-line:nth-child(11) {
    animation-delay: 1.1s;
}

.success-message {
    text-align: center;
    padding: 40px;
    background: linear-gradient(180deg, #243565, #0a1428);
    border-radius: 16px;
    color: #e5e7eb;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    width : 80%;
    position: relative;
    left:12%;
}

.success-message h2 {
    text-align: center;
    color: #c89b3c;
    margin-bottom: 10px;
}
.success-message {
    animation: fadeIn 0.5s ease-in-out;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}